nodered/data/flows.json
[
    {
        "id": "68a5849bda08941e",
        "type": "tab",
        "label": "Raspberry Pi",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6b6eb5bfb1ac6034",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": ": ",
        "statusYear": "numeric",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "default",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": false
    },
    {
        "id": "bfa70dfa69d08719",
        "type": "switch",
        "z": "68a5849bda08941e",
        "name": "Check Temp",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "55",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "45",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 80,
        "wires": [
            [
                "033b96d9a77f1cdd"
            ],
            [
                "fa26fb4ca96a6f94"
            ]
        ]
    },
    {
        "id": "033b96d9a77f1cdd",
        "type": "api-call-service",
        "z": "68a5849bda08941e",
        "name": "Turn on CPU Fan",
        "server": "6b6eb5bfb1ac6034",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.rpi_fan"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 750,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "fa26fb4ca96a6f94",
        "type": "api-call-service",
        "z": "68a5849bda08941e",
        "name": "Turn off CPU Fan",
        "server": "6b6eb5bfb1ac6034",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.rpi_fan"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 750,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "5ebc30549443fdc2",
        "type": "server-state-changed",
        "z": "68a5849bda08941e",
        "name": "Check CPU Temp",
        "server": "6b6eb5bfb1ac6034",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.cpu_temp",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "num",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": false,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 150,
        "y": 100,
        "wires": [
            [
                "dae9af63ee99bff8"
            ]
        ]
    },
    {
        "id": "dae9af63ee99bff8",
        "type": "api-current-state",
        "z": "68a5849bda08941e",
        "name": "Is day time?",
        "server": "6b6eb5bfb1ac6034",
        "version": 3,
        "outputs": 2,
        "halt_if": "true",
        "halt_if_type": "bool",
        "halt_if_compare": "is",
        "entity_id": "binary_sensor.dia",
        "state_type": "habool",
        "blockInputOverrides": false,
        "outputProperties": [],
        "for": "0",
        "forType": "num",
        "forUnits": "milliseconds",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 350,
        "y": 100,
        "wires": [
            [
                "bfa70dfa69d08719"
            ],
            [
                "fa26fb4ca96a6f94"
            ]
        ],
        "info": "Don't want it to turn on at night because it makes too much noise."
    }
]